<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.dao.ZufangMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.pojo.Zufang" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="rental" property="rental" jdbcType="INTEGER" />
    <result column="street_id" property="streetId" jdbcType="INTEGER" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="room" property="room" jdbcType="INTEGER" />
    <result column="hall" property="hall" jdbcType="INTEGER" />
    <result column="toilet" property="toilet" jdbcType="INTEGER" />
    <result column="terrace" property="terrace" jdbcType="VARCHAR" />
    <result column="rent_status" property="rentStatus" jdbcType="TINYINT" />
    <result column="housing_id" property="housingId" jdbcType="INTEGER" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="house_describe" property="houseDescribe" jdbcType="VARCHAR" />
    <result column="hostPic" property="hostpic" jdbcType="VARCHAR" />
    <result column="pic_first" property="picFirst" jdbcType="VARCHAR" />
    <result column="pic_second" property="picSecond" jdbcType="VARCHAR" />
    <result column="pic_third" property="picThird" jdbcType="VARCHAR" />
    <result column="pic_fourth" property="picFourth" jdbcType="VARCHAR" />
    <result column="plan_pic" property="planPic" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="houseing_id" property="houseingId" jdbcType="INTEGER" />
    <result column="house_check_code" property="houseCheckCode" jdbcType="VARCHAR" />
    <result column="square" property="square" jdbcType="INTEGER" />
    <result column="orientations" property="orientations" jdbcType="VARCHAR" />
    <result column="servicing_time" property="servicingTime" jdbcType="TIMESTAMP" />
    <result column="check_in" property="checkIn" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="TINYINT" />
    <result column="elevator" property="elevator" jdbcType="TINYINT" />
    <result column="carport" property="carport" jdbcType="TINYINT" />
    <result column="water" property="water" jdbcType="TINYINT" />
    <result column="electricity" property="electricity" jdbcType="TINYINT" />
    <result column="fuel_gas" property="fuelGas" jdbcType="TINYINT" />
    <result column="heating" property="heating" jdbcType="VARCHAR" />
    <result column="tenancy_term" property="tenancyTerm" jdbcType="VARCHAR" />
    <result column="see_house" property="seeHouse" jdbcType="VARCHAR" />
    <result column="television" property="television" jdbcType="TINYINT" />
    <result column="refrigerator" property="refrigerator" jdbcType="TINYINT" />
    <result column="washing_machine" property="washingMachine" jdbcType="TINYINT" />
    <result column="air_conditioner" property="airConditioner" jdbcType="TINYINT" />
    <result column="calorifier" property="calorifier" jdbcType="TINYINT" />
    <result column="bed" property="bed" jdbcType="TINYINT" />
    <result column="heat_gas" property="heatGas" jdbcType="TINYINT" />
    <result column="broad_band" property="broadBand" jdbcType="TINYINT" />
    <result column="closet" property="closet" jdbcType="TINYINT" />
    <result column="natural_gas" property="naturalGas" jdbcType="TINYINT" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="rent" property="rent" jdbcType="INTEGER" />
    <result column="cash_pledge" property="cashPledge" jdbcType="INTEGER" />
    <result column="service_charge" property="serviceCharge" jdbcType="INTEGER" />
    <result column="agency_fee" property="agencyFee" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, rental, street_id, village, room, hall, toilet, terrace, rent_status, 
    housing_id, agent_id, house_describe, hostPic, pic_first, pic_second, pic_third, 
    pic_fourth, plan_pic, feature, create_time, houseing_id, house_check_code, square, 
    orientations, servicing_time, check_in, floor, elevator, carport, water, electricity, 
    fuel_gas, heating, tenancy_term, see_house, television, refrigerator, washing_machine, 
    air_conditioner, calorifier, bed, heat_gas, broad_band, closet, natural_gas, pay_way, 
    rent, cash_pledge, service_charge, agency_fee, longitude, latitude
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.pojo.ZufangCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from beike_zufang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from beike_zufang
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from beike_zufang
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.pojo.ZufangCriteria" >
    delete from beike_zufang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.pojo.Zufang" >
    insert into beike_zufang (id, title, rental, 
      street_id, village, room, 
      hall, toilet, terrace, 
      rent_status, housing_id, agent_id, 
      house_describe, hostPic, pic_first, 
      pic_second, pic_third, pic_fourth, 
      plan_pic, feature, create_time, 
      houseing_id, house_check_code, square, 
      orientations, servicing_time, check_in, 
      floor, elevator, carport, 
      water, electricity, fuel_gas, 
      heating, tenancy_term, see_house, 
      television, refrigerator, washing_machine, 
      air_conditioner, calorifier, bed, 
      heat_gas, broad_band, closet, 
      natural_gas, pay_way, rent, 
      cash_pledge, service_charge, agency_fee, 
      longitude, latitude)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{rental,jdbcType=INTEGER}, 
      #{streetId,jdbcType=INTEGER}, #{village,jdbcType=VARCHAR}, #{room,jdbcType=INTEGER}, 
      #{hall,jdbcType=INTEGER}, #{toilet,jdbcType=INTEGER}, #{terrace,jdbcType=VARCHAR}, 
      #{rentStatus,jdbcType=TINYINT}, #{housingId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, 
      #{houseDescribe,jdbcType=VARCHAR}, #{hostpic,jdbcType=VARCHAR}, #{picFirst,jdbcType=VARCHAR}, 
      #{picSecond,jdbcType=VARCHAR}, #{picThird,jdbcType=VARCHAR}, #{picFourth,jdbcType=VARCHAR}, 
      #{planPic,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{houseingId,jdbcType=INTEGER}, #{houseCheckCode,jdbcType=VARCHAR}, #{square,jdbcType=INTEGER}, 
      #{orientations,jdbcType=VARCHAR}, #{servicingTime,jdbcType=TIMESTAMP}, #{checkIn,jdbcType=VARCHAR}, 
      #{floor,jdbcType=TINYINT}, #{elevator,jdbcType=TINYINT}, #{carport,jdbcType=TINYINT}, 
      #{water,jdbcType=TINYINT}, #{electricity,jdbcType=TINYINT}, #{fuelGas,jdbcType=TINYINT}, 
      #{heating,jdbcType=VARCHAR}, #{tenancyTerm,jdbcType=VARCHAR}, #{seeHouse,jdbcType=VARCHAR}, 
      #{television,jdbcType=TINYINT}, #{refrigerator,jdbcType=TINYINT}, #{washingMachine,jdbcType=TINYINT}, 
      #{airConditioner,jdbcType=TINYINT}, #{calorifier,jdbcType=TINYINT}, #{bed,jdbcType=TINYINT}, 
      #{heatGas,jdbcType=TINYINT}, #{broadBand,jdbcType=TINYINT}, #{closet,jdbcType=TINYINT}, 
      #{naturalGas,jdbcType=TINYINT}, #{payWay,jdbcType=VARCHAR}, #{rent,jdbcType=INTEGER}, 
      #{cashPledge,jdbcType=INTEGER}, #{serviceCharge,jdbcType=INTEGER}, #{agencyFee,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.pojo.Zufang" >
    insert into beike_zufang
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="rental != null" >
        rental,
      </if>
      <if test="streetId != null" >
        street_id,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="hall != null" >
        hall,
      </if>
      <if test="toilet != null" >
        toilet,
      </if>
      <if test="terrace != null" >
        terrace,
      </if>
      <if test="rentStatus != null" >
        rent_status,
      </if>
      <if test="housingId != null" >
        housing_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="houseDescribe != null" >
        house_describe,
      </if>
      <if test="hostpic != null" >
        hostPic,
      </if>
      <if test="picFirst != null" >
        pic_first,
      </if>
      <if test="picSecond != null" >
        pic_second,
      </if>
      <if test="picThird != null" >
        pic_third,
      </if>
      <if test="picFourth != null" >
        pic_fourth,
      </if>
      <if test="planPic != null" >
        plan_pic,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="houseingId != null" >
        houseing_id,
      </if>
      <if test="houseCheckCode != null" >
        house_check_code,
      </if>
      <if test="square != null" >
        square,
      </if>
      <if test="orientations != null" >
        orientations,
      </if>
      <if test="servicingTime != null" >
        servicing_time,
      </if>
      <if test="checkIn != null" >
        check_in,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="elevator != null" >
        elevator,
      </if>
      <if test="carport != null" >
        carport,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="electricity != null" >
        electricity,
      </if>
      <if test="fuelGas != null" >
        fuel_gas,
      </if>
      <if test="heating != null" >
        heating,
      </if>
      <if test="tenancyTerm != null" >
        tenancy_term,
      </if>
      <if test="seeHouse != null" >
        see_house,
      </if>
      <if test="television != null" >
        television,
      </if>
      <if test="refrigerator != null" >
        refrigerator,
      </if>
      <if test="washingMachine != null" >
        washing_machine,
      </if>
      <if test="airConditioner != null" >
        air_conditioner,
      </if>
      <if test="calorifier != null" >
        calorifier,
      </if>
      <if test="bed != null" >
        bed,
      </if>
      <if test="heatGas != null" >
        heat_gas,
      </if>
      <if test="broadBand != null" >
        broad_band,
      </if>
      <if test="closet != null" >
        closet,
      </if>
      <if test="naturalGas != null" >
        natural_gas,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="rent != null" >
        rent,
      </if>
      <if test="cashPledge != null" >
        cash_pledge,
      </if>
      <if test="serviceCharge != null" >
        service_charge,
      </if>
      <if test="agencyFee != null" >
        agency_fee,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="rental != null" >
        #{rental,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=INTEGER},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="room != null" >
        #{room,jdbcType=INTEGER},
      </if>
      <if test="hall != null" >
        #{hall,jdbcType=INTEGER},
      </if>
      <if test="toilet != null" >
        #{toilet,jdbcType=INTEGER},
      </if>
      <if test="terrace != null" >
        #{terrace,jdbcType=VARCHAR},
      </if>
      <if test="rentStatus != null" >
        #{rentStatus,jdbcType=TINYINT},
      </if>
      <if test="housingId != null" >
        #{housingId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="houseDescribe != null" >
        #{houseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="hostpic != null" >
        #{hostpic,jdbcType=VARCHAR},
      </if>
      <if test="picFirst != null" >
        #{picFirst,jdbcType=VARCHAR},
      </if>
      <if test="picSecond != null" >
        #{picSecond,jdbcType=VARCHAR},
      </if>
      <if test="picThird != null" >
        #{picThird,jdbcType=VARCHAR},
      </if>
      <if test="picFourth != null" >
        #{picFourth,jdbcType=VARCHAR},
      </if>
      <if test="planPic != null" >
        #{planPic,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseingId != null" >
        #{houseingId,jdbcType=INTEGER},
      </if>
      <if test="houseCheckCode != null" >
        #{houseCheckCode,jdbcType=VARCHAR},
      </if>
      <if test="square != null" >
        #{square,jdbcType=INTEGER},
      </if>
      <if test="orientations != null" >
        #{orientations,jdbcType=VARCHAR},
      </if>
      <if test="servicingTime != null" >
        #{servicingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkIn != null" >
        #{checkIn,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=TINYINT},
      </if>
      <if test="elevator != null" >
        #{elevator,jdbcType=TINYINT},
      </if>
      <if test="carport != null" >
        #{carport,jdbcType=TINYINT},
      </if>
      <if test="water != null" >
        #{water,jdbcType=TINYINT},
      </if>
      <if test="electricity != null" >
        #{electricity,jdbcType=TINYINT},
      </if>
      <if test="fuelGas != null" >
        #{fuelGas,jdbcType=TINYINT},
      </if>
      <if test="heating != null" >
        #{heating,jdbcType=VARCHAR},
      </if>
      <if test="tenancyTerm != null" >
        #{tenancyTerm,jdbcType=VARCHAR},
      </if>
      <if test="seeHouse != null" >
        #{seeHouse,jdbcType=VARCHAR},
      </if>
      <if test="television != null" >
        #{television,jdbcType=TINYINT},
      </if>
      <if test="refrigerator != null" >
        #{refrigerator,jdbcType=TINYINT},
      </if>
      <if test="washingMachine != null" >
        #{washingMachine,jdbcType=TINYINT},
      </if>
      <if test="airConditioner != null" >
        #{airConditioner,jdbcType=TINYINT},
      </if>
      <if test="calorifier != null" >
        #{calorifier,jdbcType=TINYINT},
      </if>
      <if test="bed != null" >
        #{bed,jdbcType=TINYINT},
      </if>
      <if test="heatGas != null" >
        #{heatGas,jdbcType=TINYINT},
      </if>
      <if test="broadBand != null" >
        #{broadBand,jdbcType=TINYINT},
      </if>
      <if test="closet != null" >
        #{closet,jdbcType=TINYINT},
      </if>
      <if test="naturalGas != null" >
        #{naturalGas,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=INTEGER},
      </if>
      <if test="cashPledge != null" >
        #{cashPledge,jdbcType=INTEGER},
      </if>
      <if test="serviceCharge != null" >
        #{serviceCharge,jdbcType=INTEGER},
      </if>
      <if test="agencyFee != null" >
        #{agencyFee,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.pojo.ZufangCriteria" resultType="java.lang.Integer" >
    select count(*) from beike_zufang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update beike_zufang
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.rental != null" >
        rental = #{record.rental,jdbcType=INTEGER},
      </if>
      <if test="record.streetId != null" >
        street_id = #{record.streetId,jdbcType=INTEGER},
      </if>
      <if test="record.village != null" >
        village = #{record.village,jdbcType=VARCHAR},
      </if>
      <if test="record.room != null" >
        room = #{record.room,jdbcType=INTEGER},
      </if>
      <if test="record.hall != null" >
        hall = #{record.hall,jdbcType=INTEGER},
      </if>
      <if test="record.toilet != null" >
        toilet = #{record.toilet,jdbcType=INTEGER},
      </if>
      <if test="record.terrace != null" >
        terrace = #{record.terrace,jdbcType=VARCHAR},
      </if>
      <if test="record.rentStatus != null" >
        rent_status = #{record.rentStatus,jdbcType=TINYINT},
      </if>
      <if test="record.housingId != null" >
        housing_id = #{record.housingId,jdbcType=INTEGER},
      </if>
      <if test="record.agentId != null" >
        agent_id = #{record.agentId,jdbcType=INTEGER},
      </if>
      <if test="record.houseDescribe != null" >
        house_describe = #{record.houseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.hostpic != null" >
        hostPic = #{record.hostpic,jdbcType=VARCHAR},
      </if>
      <if test="record.picFirst != null" >
        pic_first = #{record.picFirst,jdbcType=VARCHAR},
      </if>
      <if test="record.picSecond != null" >
        pic_second = #{record.picSecond,jdbcType=VARCHAR},
      </if>
      <if test="record.picThird != null" >
        pic_third = #{record.picThird,jdbcType=VARCHAR},
      </if>
      <if test="record.picFourth != null" >
        pic_fourth = #{record.picFourth,jdbcType=VARCHAR},
      </if>
      <if test="record.planPic != null" >
        plan_pic = #{record.planPic,jdbcType=VARCHAR},
      </if>
      <if test="record.feature != null" >
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.houseingId != null" >
        houseing_id = #{record.houseingId,jdbcType=INTEGER},
      </if>
      <if test="record.houseCheckCode != null" >
        house_check_code = #{record.houseCheckCode,jdbcType=VARCHAR},
      </if>
      <if test="record.square != null" >
        square = #{record.square,jdbcType=INTEGER},
      </if>
      <if test="record.orientations != null" >
        orientations = #{record.orientations,jdbcType=VARCHAR},
      </if>
      <if test="record.servicingTime != null" >
        servicing_time = #{record.servicingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkIn != null" >
        check_in = #{record.checkIn,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null" >
        floor = #{record.floor,jdbcType=TINYINT},
      </if>
      <if test="record.elevator != null" >
        elevator = #{record.elevator,jdbcType=TINYINT},
      </if>
      <if test="record.carport != null" >
        carport = #{record.carport,jdbcType=TINYINT},
      </if>
      <if test="record.water != null" >
        water = #{record.water,jdbcType=TINYINT},
      </if>
      <if test="record.electricity != null" >
        electricity = #{record.electricity,jdbcType=TINYINT},
      </if>
      <if test="record.fuelGas != null" >
        fuel_gas = #{record.fuelGas,jdbcType=TINYINT},
      </if>
      <if test="record.heating != null" >
        heating = #{record.heating,jdbcType=VARCHAR},
      </if>
      <if test="record.tenancyTerm != null" >
        tenancy_term = #{record.tenancyTerm,jdbcType=VARCHAR},
      </if>
      <if test="record.seeHouse != null" >
        see_house = #{record.seeHouse,jdbcType=VARCHAR},
      </if>
      <if test="record.television != null" >
        television = #{record.television,jdbcType=TINYINT},
      </if>
      <if test="record.refrigerator != null" >
        refrigerator = #{record.refrigerator,jdbcType=TINYINT},
      </if>
      <if test="record.washingMachine != null" >
        washing_machine = #{record.washingMachine,jdbcType=TINYINT},
      </if>
      <if test="record.airConditioner != null" >
        air_conditioner = #{record.airConditioner,jdbcType=TINYINT},
      </if>
      <if test="record.calorifier != null" >
        calorifier = #{record.calorifier,jdbcType=TINYINT},
      </if>
      <if test="record.bed != null" >
        bed = #{record.bed,jdbcType=TINYINT},
      </if>
      <if test="record.heatGas != null" >
        heat_gas = #{record.heatGas,jdbcType=TINYINT},
      </if>
      <if test="record.broadBand != null" >
        broad_band = #{record.broadBand,jdbcType=TINYINT},
      </if>
      <if test="record.closet != null" >
        closet = #{record.closet,jdbcType=TINYINT},
      </if>
      <if test="record.naturalGas != null" >
        natural_gas = #{record.naturalGas,jdbcType=TINYINT},
      </if>
      <if test="record.payWay != null" >
        pay_way = #{record.payWay,jdbcType=VARCHAR},
      </if>
      <if test="record.rent != null" >
        rent = #{record.rent,jdbcType=INTEGER},
      </if>
      <if test="record.cashPledge != null" >
        cash_pledge = #{record.cashPledge,jdbcType=INTEGER},
      </if>
      <if test="record.serviceCharge != null" >
        service_charge = #{record.serviceCharge,jdbcType=INTEGER},
      </if>
      <if test="record.agencyFee != null" >
        agency_fee = #{record.agencyFee,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update beike_zufang
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      rental = #{record.rental,jdbcType=INTEGER},
      street_id = #{record.streetId,jdbcType=INTEGER},
      village = #{record.village,jdbcType=VARCHAR},
      room = #{record.room,jdbcType=INTEGER},
      hall = #{record.hall,jdbcType=INTEGER},
      toilet = #{record.toilet,jdbcType=INTEGER},
      terrace = #{record.terrace,jdbcType=VARCHAR},
      rent_status = #{record.rentStatus,jdbcType=TINYINT},
      housing_id = #{record.housingId,jdbcType=INTEGER},
      agent_id = #{record.agentId,jdbcType=INTEGER},
      house_describe = #{record.houseDescribe,jdbcType=VARCHAR},
      hostPic = #{record.hostpic,jdbcType=VARCHAR},
      pic_first = #{record.picFirst,jdbcType=VARCHAR},
      pic_second = #{record.picSecond,jdbcType=VARCHAR},
      pic_third = #{record.picThird,jdbcType=VARCHAR},
      pic_fourth = #{record.picFourth,jdbcType=VARCHAR},
      plan_pic = #{record.planPic,jdbcType=VARCHAR},
      feature = #{record.feature,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      houseing_id = #{record.houseingId,jdbcType=INTEGER},
      house_check_code = #{record.houseCheckCode,jdbcType=VARCHAR},
      square = #{record.square,jdbcType=INTEGER},
      orientations = #{record.orientations,jdbcType=VARCHAR},
      servicing_time = #{record.servicingTime,jdbcType=TIMESTAMP},
      check_in = #{record.checkIn,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=TINYINT},
      elevator = #{record.elevator,jdbcType=TINYINT},
      carport = #{record.carport,jdbcType=TINYINT},
      water = #{record.water,jdbcType=TINYINT},
      electricity = #{record.electricity,jdbcType=TINYINT},
      fuel_gas = #{record.fuelGas,jdbcType=TINYINT},
      heating = #{record.heating,jdbcType=VARCHAR},
      tenancy_term = #{record.tenancyTerm,jdbcType=VARCHAR},
      see_house = #{record.seeHouse,jdbcType=VARCHAR},
      television = #{record.television,jdbcType=TINYINT},
      refrigerator = #{record.refrigerator,jdbcType=TINYINT},
      washing_machine = #{record.washingMachine,jdbcType=TINYINT},
      air_conditioner = #{record.airConditioner,jdbcType=TINYINT},
      calorifier = #{record.calorifier,jdbcType=TINYINT},
      bed = #{record.bed,jdbcType=TINYINT},
      heat_gas = #{record.heatGas,jdbcType=TINYINT},
      broad_band = #{record.broadBand,jdbcType=TINYINT},
      closet = #{record.closet,jdbcType=TINYINT},
      natural_gas = #{record.naturalGas,jdbcType=TINYINT},
      pay_way = #{record.payWay,jdbcType=VARCHAR},
      rent = #{record.rent,jdbcType=INTEGER},
      cash_pledge = #{record.cashPledge,jdbcType=INTEGER},
      service_charge = #{record.serviceCharge,jdbcType=INTEGER},
      agency_fee = #{record.agencyFee,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.pojo.Zufang" >
    update beike_zufang
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="rental != null" >
        rental = #{rental,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        street_id = #{streetId,jdbcType=INTEGER},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=INTEGER},
      </if>
      <if test="hall != null" >
        hall = #{hall,jdbcType=INTEGER},
      </if>
      <if test="toilet != null" >
        toilet = #{toilet,jdbcType=INTEGER},
      </if>
      <if test="terrace != null" >
        terrace = #{terrace,jdbcType=VARCHAR},
      </if>
      <if test="rentStatus != null" >
        rent_status = #{rentStatus,jdbcType=TINYINT},
      </if>
      <if test="housingId != null" >
        housing_id = #{housingId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="houseDescribe != null" >
        house_describe = #{houseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="hostpic != null" >
        hostPic = #{hostpic,jdbcType=VARCHAR},
      </if>
      <if test="picFirst != null" >
        pic_first = #{picFirst,jdbcType=VARCHAR},
      </if>
      <if test="picSecond != null" >
        pic_second = #{picSecond,jdbcType=VARCHAR},
      </if>
      <if test="picThird != null" >
        pic_third = #{picThird,jdbcType=VARCHAR},
      </if>
      <if test="picFourth != null" >
        pic_fourth = #{picFourth,jdbcType=VARCHAR},
      </if>
      <if test="planPic != null" >
        plan_pic = #{planPic,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseingId != null" >
        houseing_id = #{houseingId,jdbcType=INTEGER},
      </if>
      <if test="houseCheckCode != null" >
        house_check_code = #{houseCheckCode,jdbcType=VARCHAR},
      </if>
      <if test="square != null" >
        square = #{square,jdbcType=INTEGER},
      </if>
      <if test="orientations != null" >
        orientations = #{orientations,jdbcType=VARCHAR},
      </if>
      <if test="servicingTime != null" >
        servicing_time = #{servicingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkIn != null" >
        check_in = #{checkIn,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=TINYINT},
      </if>
      <if test="elevator != null" >
        elevator = #{elevator,jdbcType=TINYINT},
      </if>
      <if test="carport != null" >
        carport = #{carport,jdbcType=TINYINT},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=TINYINT},
      </if>
      <if test="electricity != null" >
        electricity = #{electricity,jdbcType=TINYINT},
      </if>
      <if test="fuelGas != null" >
        fuel_gas = #{fuelGas,jdbcType=TINYINT},
      </if>
      <if test="heating != null" >
        heating = #{heating,jdbcType=VARCHAR},
      </if>
      <if test="tenancyTerm != null" >
        tenancy_term = #{tenancyTerm,jdbcType=VARCHAR},
      </if>
      <if test="seeHouse != null" >
        see_house = #{seeHouse,jdbcType=VARCHAR},
      </if>
      <if test="television != null" >
        television = #{television,jdbcType=TINYINT},
      </if>
      <if test="refrigerator != null" >
        refrigerator = #{refrigerator,jdbcType=TINYINT},
      </if>
      <if test="washingMachine != null" >
        washing_machine = #{washingMachine,jdbcType=TINYINT},
      </if>
      <if test="airConditioner != null" >
        air_conditioner = #{airConditioner,jdbcType=TINYINT},
      </if>
      <if test="calorifier != null" >
        calorifier = #{calorifier,jdbcType=TINYINT},
      </if>
      <if test="bed != null" >
        bed = #{bed,jdbcType=TINYINT},
      </if>
      <if test="heatGas != null" >
        heat_gas = #{heatGas,jdbcType=TINYINT},
      </if>
      <if test="broadBand != null" >
        broad_band = #{broadBand,jdbcType=TINYINT},
      </if>
      <if test="closet != null" >
        closet = #{closet,jdbcType=TINYINT},
      </if>
      <if test="naturalGas != null" >
        natural_gas = #{naturalGas,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        rent = #{rent,jdbcType=INTEGER},
      </if>
      <if test="cashPledge != null" >
        cash_pledge = #{cashPledge,jdbcType=INTEGER},
      </if>
      <if test="serviceCharge != null" >
        service_charge = #{serviceCharge,jdbcType=INTEGER},
      </if>
      <if test="agencyFee != null" >
        agency_fee = #{agencyFee,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.pojo.Zufang" >
    update beike_zufang
    set title = #{title,jdbcType=VARCHAR},
      rental = #{rental,jdbcType=INTEGER},
      street_id = #{streetId,jdbcType=INTEGER},
      village = #{village,jdbcType=VARCHAR},
      room = #{room,jdbcType=INTEGER},
      hall = #{hall,jdbcType=INTEGER},
      toilet = #{toilet,jdbcType=INTEGER},
      terrace = #{terrace,jdbcType=VARCHAR},
      rent_status = #{rentStatus,jdbcType=TINYINT},
      housing_id = #{housingId,jdbcType=INTEGER},
      agent_id = #{agentId,jdbcType=INTEGER},
      house_describe = #{houseDescribe,jdbcType=VARCHAR},
      hostPic = #{hostpic,jdbcType=VARCHAR},
      pic_first = #{picFirst,jdbcType=VARCHAR},
      pic_second = #{picSecond,jdbcType=VARCHAR},
      pic_third = #{picThird,jdbcType=VARCHAR},
      pic_fourth = #{picFourth,jdbcType=VARCHAR},
      plan_pic = #{planPic,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      houseing_id = #{houseingId,jdbcType=INTEGER},
      house_check_code = #{houseCheckCode,jdbcType=VARCHAR},
      square = #{square,jdbcType=INTEGER},
      orientations = #{orientations,jdbcType=VARCHAR},
      servicing_time = #{servicingTime,jdbcType=TIMESTAMP},
      check_in = #{checkIn,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=TINYINT},
      elevator = #{elevator,jdbcType=TINYINT},
      carport = #{carport,jdbcType=TINYINT},
      water = #{water,jdbcType=TINYINT},
      electricity = #{electricity,jdbcType=TINYINT},
      fuel_gas = #{fuelGas,jdbcType=TINYINT},
      heating = #{heating,jdbcType=VARCHAR},
      tenancy_term = #{tenancyTerm,jdbcType=VARCHAR},
      see_house = #{seeHouse,jdbcType=VARCHAR},
      television = #{television,jdbcType=TINYINT},
      refrigerator = #{refrigerator,jdbcType=TINYINT},
      washing_machine = #{washingMachine,jdbcType=TINYINT},
      air_conditioner = #{airConditioner,jdbcType=TINYINT},
      calorifier = #{calorifier,jdbcType=TINYINT},
      bed = #{bed,jdbcType=TINYINT},
      heat_gas = #{heatGas,jdbcType=TINYINT},
      broad_band = #{broadBand,jdbcType=TINYINT},
      closet = #{closet,jdbcType=TINYINT},
      natural_gas = #{naturalGas,jdbcType=TINYINT},
      pay_way = #{payWay,jdbcType=VARCHAR},
      rent = #{rent,jdbcType=INTEGER},
      cash_pledge = #{cashPledge,jdbcType=INTEGER},
      service_charge = #{serviceCharge,jdbcType=INTEGER},
      agency_fee = #{agencyFee,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>